<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">New Item</a>
        </li>
        <button type="button" class="btn btn-sm btn-default" ng-controller="ApppModalDialogHelperController" ng-click="modifyTemplate()"> Modify Template </button>
    </ul>
</div>
<!-- <div class="row">
    <form class="" ng-submit="createProperty()">
        <div class="form-group" ng-repeat = "field in fields">
      <label class="control-label">{{field.name}}</label>
      <input ng-if="field.type == 'text'" class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" ng-model="property[field._id]" />
    </div>
    <button type="submit" class="btn btn-primary">Ok</button>
  </form>
</div> -->
<div class="row">
    <form class="" ng-submit="update()">
        <div class="form-group">
            <label class="control-label">Property Type</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" ng-model="property.property_type" />
        </div>
        <div class="form-group">
            <label class="control-label">Property Condition</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" ng-model="property.property_condition" />
        </div>
        <div class="form-group">
            <label class="control-label">Beds</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" ng-model="property.beds" />
        </div>
        <div class="form-group">
            <label class="control-label">Baths</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" ng-model="property.baths" />
        </div>
    <button type="submit" class="btn btn-primary">Ok</button>
  </form>
</div>