<html>
  <head>
    <title>Flapper News</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <body ng-app="flapperNews">
    <% if (!everyauth.loggedIn) { %>
      <h2>Not Authenticated</h2>
      <div class="fb-button" id="fb-login" style="background-position: left -188px;">
        <a class="fb_button_medium" href="/auth/facebook">
          <span class="fb_button_text" id="fb_login_text">Connect with facebook</span>
        </a>
      </div>
    <% } else { %>
      <h2> Authenticated </h2>
      <% if (everyauth.facebook) { %>
        <h3> Facebook User Data </h3>
        <p> <%= JSON.stringify(everyauth.facebook.user) %> </p>
      <% } %>
      <a href="/logout">Log Out</a>
    <% } %>
  </body>
</html>