<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">New Item</a>
        </li>
        <button type="button" class="btn btn-sm btn-default" ng-controller="ApppModalDialogHelperController" ng-click="newItem()"> New Item </button>
        <button type="button" class="btn btn-sm btn-default" ng-controller="ApppModalDialogHelperController" ng-click="modifyTemplate()"> Modify Template </button>
    </ul>
</div>
<div class="row">
    <div class="col-sm-6 item-show-block">
        
    </div>
    <div class="col-sm-6 item-show-block">
        <h1>Activities</h1>
    </div>
</div>