<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
<div class="login">
  <!-- BEGIN LOGO -->
  <div class="logo">
      <a href="index.html">
          <img src="../assets/pages/img/logo-big.png" alt="" /> </a>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
      <!-- BEGIN LOGIN FORM -->
    <form class="" ng-submit="sendPasswordResetRequest()" method="post">
      <h3 class="form-title font-green">Forgot Password</h3>
      <span id="error" class="help-block" ng-bind-html="notification_for_password_reset_request"></span>
      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Email</label>
        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Please input your email" ng-model="email_for_password_reset" /> 
      </div>      
      <div class="form-actions">
          <button type="button" id="back-btn" class="btn green btn-outline" ui-sref="login">Back</button>
          <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
      </div>        
    </form>
  </div>
  <script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script> 
  <script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
  <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
  <script src="../assets/pages/scripts/login.min.js" type="text/javascript"></script>

</div>
