<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
<div class="login">
  <div class="content">
    <form class="">
      <h3>Please verify your email address to keep your account secure.</h3>
      <p>
        We've sent your confirmation email to {{getEmail()}}. <br><br>
        If you haven't received the email, check your junk/spam folder or <a href="javascript:;" ng-click="sendConfirmationEmail()">send the confirmation email</a> again. <br>
        If it was sent to the wrong address, click back in your browser and enter a different one. <br><br>
        Already have an account? <a href="/#/login">Log in here</a> <br><br>
        Questions? Ask <a href="mailto:support@linkabee.com">LinkaBee Support</a>
      </p>      
    </form>
  </div>
  <script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script> 
  <script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
  <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
  <script src="../assets/pages/scripts/login.min.js" type="text/javascript"></script>
</div>
