<div class="container">
	<h1> Accounts </h1>
	<div class="row">
		<div ng-repeat="account in accounts | orderBy:'-id'">
      <span>
        <a href="#!/account/{{account._id}}">{{account.name}}</a>
      </span>

    </div>

		<div ng-repeat="account in tweet_accounts | orderBy:'-id'">
      <span>
        <a href="#!/tweet_account/{{account._id}}">{{account.name}}</a>
      </span>

    </div>

		<div class="col-sm-offset-5 col-sm-2"> 
			<button ng-click="authenticate('facebook')">Add Facebook Account</button>
		</div>
		<div class="col-sm-offset-5 col-sm-2"> 
			<button ng-click="authenticate('twitter')">Add Twitter Account</button>
		</div>

	</div>
</div>