<div class="post-directive">
	<h3 class="post-title">{{post.message}}</h3>
	<img ng-if='post.full_picture != ""' src="{{post.full_picture}}">
	<div classs="post-comments" ng-repeat = "comment in post.comments">
		<div class="comment-message">
			<h5><b>{{comment.from.name}}</b> {{comment.created | date:'MM/dd/yyyy h:m:s'}}</h5><span>{{comment.message}}</span>
		</div>
		<div class="mentions">
			<div class="mention-message" ng-repeat = "mention in comment.mentions">
				<h5><b>{{mention.from.name}}</b> {{mention.created | date:'MM/dd/yyyy'}}</h5><span>{{mention.message}}</span>
			</div>
			<div class="row">
				<input type="text" class="col-sm-12 new-mention" placeholder="reply" ng-model="new_mention" ng-keyup="$event.keyCode == 13 ? addMention(comment, new_mention) : null">
			</div>
		</div>
	</div>
	<div class="row">
		<input type="text" class="col-sm-12 new-comment" placeholder="comment" ng-model="new_comment" ng-keyup="$event.keyCode == 13 ? addComment(post, new_comment) : null">
	</div>
</div>